{% extends 'master.html' %} {% load static%} {% block style_part %} {% endblock %} {% block main_content %}
<ul id="gtco-post-list">
    <li class="full entry animate-box" style="min-height: FIT-CONTENT;text-align: center;background: none;">
        <hr id="m" style="border-top: 1px solid #7b7b7b;">
    </li>
    <li class="full entry animate-box" data-animate-effect="fadeIn" style="min-height: 300px;">
        <a href="single.html">
            <div class="entry-img" style="background-image: url(/static/images/s_d.jpg);width: 400px;height: 300px;background-size: contain;"></div>
            <div class="entry-desc" style="width: 70%;">
                <h3 style="font-size: 70px !important;">Motivation</h3>
                <p style="font-weight:bold;font-size: 36px;">NVIDIA執行長 -- 黃仁勳 : 「ＡＩ將快速滲透至人類生活，引領出自動駕駛和自主機器人；其中，ＡＩ最重要的貢獻之一就是發明自動駕駛，自駕車將成為第一個、也是最具影響力的機器人。」</p>
                <hr>
                <div class="col-md-6">
                    <p style="font-weight:bold;font-size: 36px; color: #008a04;">
                        優點
                        <br> 1. 更敏銳的感官
                        <br> 2. 更快速的判斷
                        <br> 3. 更可靠的駕駛
                        <br>
                    </p>
                </div>
                <div class="col-md-6">
                    <p style="font-weight:bold;font-size: 36px; color: #e20000;">
                        缺點
                        <br> 1. 道德困境
                        <br> 2. 極端天候
                        <br> 3. 影像辨識的精確度
                        <br> 4. 應變能力
                        <br>
                    </p>
                </div>
            </div>
        </a>
        <!-- <a href="#" class="post-meta">Business
                    <span class="date-posted">4 days ago</span>
                </a> -->
    </li>
</ul>

{% endblock %} {% block script_part %} {% endblock %}