{% extends 'master.html' %} {% load static%} {% block style_part %} {% endblock %} {% block main_content %}
<ul id="gtco-post-list">
        <li class="full entry animate-box" style="min-height: FIT-CONTENT;text-align: center;background: none;"><hr id="h" style="border-top: 1px solid #7b7b7b;"></li>
    <li class="full entry animate-box" data-animate-effect="fadeIn">
        <a href="single.html">
            <div class="entry-img" style="background-image: url(/static/images/rpi.jpg);width: 500px;"></div>
            <div class="entry-desc">
                <h3>Raspberry Car</h3>
                <p>藉由RPI 小車控制</p>
            </div>
        </a>
        <!-- <a href="#" class="post-meta">Business
                    <span class="date-posted">4 days ago</span>
                </a> -->
    </li>
    <li class="full entry animate-box" style="min-height: FIT-CONTENT;text-align: center;background: none;"><hr id="f" style="border-top: 1px solid #7b7b7b;"></li>
    <li class="one-third entry animate-box" data-animate-effect="fadeIn">
        <a href="single.html">
            <div class="entry-img" style="background-image: url(/static/images/self_drivecar.png)"></div>
            <div class="entry-desc">
                <h3>方向控制</h3>
                <p>車子自動依照路線狀況並決定行徑方向</p>
            </div>
        </a>
        <!-- <a href="single.html" class="post-meta">Business  <span class="date-posted">4 days ago</span></a> -->
    </li>
    <li class="one-third entry animate-box" data-animate-effect="fadeIn">
        <a href="single.html">
            <div class="entry-img" style="background-image: url(/static/images/self-driving-car_1.jpg)"></div>
            <div class="entry-desc">
                <h3>障礙物停止與閃避</h3>
                <p>車子自動偵測前方障礙物並停止行使或者閃避</p>
            </div>
        </a>
        <!-- <a href="single.html" class="post-meta">Business  <span class="date-posted">4 days ago</span></a> -->
    </li>
    <li class="one-third entry animate-box" data-animate-effect="fadeIn">
        <a href="single.html">
            <div class="entry-img" style="background-image: url(/static/images/self-driving-car_2.jpg)"></div>
            <div class="entry-desc">
                <h3>交通號誌</h3>
                <p>車子自動偵測前方紅綠燈及路牌並做出正確決策</p>
            </div>
        </a>
        <!-- <a href="single.html" class="post-meta">Business  <span class="date-posted">4 days ago</span></a> -->
    </li>
    <!-- 
        <li class="one-third entry animate-box" data-animate-effect="fadeIn">
            <a href="single.html">
                <div class="entry-img" style="background-image: url(images/img_6.jpg"></div>
                <div class="entry-desc">
                    <h3>How Web Hosting Can Impact Page Load Speed</h3>
                    <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                </div>
            </a>
            <a href="single.html" class="post-meta">Business  <span class="date-posted">4 days ago</span></a>
        </li>


        <li class="one-half entry animate-box" data-animate-effect="fadeIn">
            <a href="single.html">
                <div class="entry-img" style="background-image: url(images/img_7.jpg"></div>
                <div class="entry-desc">
                    <h3>How Web Hosting Can Impact Page Load Speed</h3>
                    <p>She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains.</p>
                </div>
            </a>
            <a href="single.html" class="post-meta">Business  <span class="date-posted">4 days ago</span></a>
        </li>
        <li class="one-half entry animate-box" data-animate-effect="fadeIn">
            <a href="single.html">
                <div class="entry-img" style="background-image: url(images/img_8.jpg"></div>
                <div class="entry-desc">
                    <h3>How Web Hosting Can Impact Page Load Speed</h3>
                    <p>She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains.</p>
                </div>
            </a>
            <a href="single.html" class="post-meta">Business  <span class="date-posted">4 days ago</span></a>
        </li>

        <li class="one-third entry animate-box" data-animate-effect="fadeIn"> 
            <a href="single.html">
                <div class="entry-img" style="background-image: url(images/img_9.jpg"></div>
                <div class="entry-desc">
                    <h3>How Web Hosting Can Impact Page Load Speed</h3>
                    <p>She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains.</p>
                </div>
            </a>
            <a href="single.html" class="post-meta">Business  <span class="date-posted">4 days ago</span></a>
        </li>
        <li class="two-third entry animate-box" data-animate-effect="fadeIn">
            <a href="single.html">
                <div class="entry-img" style="background-image: url(images/img_10.jpg"></div>
                <div class="entry-desc">
                    <h3>How Web Hosting Can Impact Page Load Speed</h3>
                    <p>She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains.</p>
                </div>
            </a>
            <a href="single.html" class="post-meta">Business  <span class="date-posted">4 days ago</span></a>
        </li> -->
</ul>

{% endblock %} {% block script_part %} {% endblock %}