{% extends 'master.html' %} {% load static%} {% block style_part %} {% endblock %} {% block main_content %}

<ul id="gtco-post-list-member">
    <li class="full entry animate-box" data-animate-effect="fadeIn" style="min-height: fit-content;">
        <a href="single.html">
            <div class="entry-img" style="background-image:url(https://img.joyce8.com/20160807221039_62.jpg);width: 30%; height: 100px;background-position: center;background-size: cover;"></div>
            <div class="entry-desc" style="width: 1200px;">
                <h3 style="font-size: 80px !important;">蔡松峻</h3>
                <dl>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">1. 道路辨識</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">以OpenCV 對蒐集的影片資料進行處理，強化道路邊界，使辨識的目標更清楚</dd>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">2. 行駛控制</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">以8層 深度 CNN 網路，對以處理的資料進行預測，判斷當下該給予的控制指令</dd>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">3. Socket連線</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">建立將樹梅派與機器學習Server間的通訊網路</dd>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">4. 網站製作</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">以Django建立專題呈現網站</dd>
                </dl>
            </div>
        </a>
    </li>

    <li class="full entry animate-box" style="min-height: FIT-CONTENT;text-align: center;background: none;">
        <hr id="f" style="border-top: 1px solid #7b7b7b;">
    </li>

    <li class="full entry animate-box" style="min-height: fit-content;">
        <a href="single.html">
            <div class="entry-desc" style="width: 1200px;">
                <h3 style="font-size: 80px !important;">蔡松峻</h3>
                <dl>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">1. 道路辨識</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">以OpenCV 對蒐集的影片資料進行處理，強化道路邊界，使辨識的目標更清楚</dd>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">2. 行駛控制</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">以8層 深度 CNN 網路，對以處理的資料進行預測，判斷當下該給予的控制指令</dd>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">3. Socket連線</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">建立將樹梅派與機器學習Server間的通訊網路</dd>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">4. 網站製作</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">以Django建立專題呈現網站</dd>
                </dl>
            </div>
            <div class="entry-img" style="background-image: url(https://img.joyce8.com/20160807221039_62.jpg);width: 30%; height: 100px;background-position: center;background-size: cover;"></div>
        </a>
    </li>

    <li class="full entry animate-box" style="min-height: FIT-CONTENT;text-align: center;background: none;">
        <hr id="f" style="border-top: 1px solid #7b7b7b;">
    </li>

    <li class="full entry animate-box" style="min-height: fit-content;">
        <a href="single.html">
            <div class="entry-img" style="background-image: url(https://img.joyce8.com/20160807221039_62.jpg);width: 30%; height: 100px;background-position: center;background-size: cover;"></div>
            <div class="entry-desc" style="width: 1200px;">
                <h3 style="font-size: 80px !important;">蔡松峻</h3>
                <dl>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">1. 道路辨識</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">以OpenCV 對蒐集的影片資料進行處理，強化道路邊界，使辨識的目標更清楚</dd>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">2. 行駛控制</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">以8層 深度 CNN 網路，對以處理的資料進行預測，判斷當下該給予的控制指令</dd>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">3. Socket連線</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">建立將樹梅派與機器學習Server間的通訊網路</dd>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">4. 網站製作</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">以Django建立專題呈現網站</dd>
                </dl>
            </div>
        </a>
    </li>

    <li class="full entry animate-box" style="min-height: FIT-CONTENT;text-align: center;background: none;">
        <hr id="f" style="border-top: 1px solid #7b7b7b;">
    </li>

    <li class="full entry animate-box" style="min-height: fit-content;">
        <a href="single.html">
            <div class="entry-desc" style="width: 1200px;">
                <h3 style="font-size: 80px !important;">蔡松峻</h3>
                <dl>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">1. 道路辨識</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">以OpenCV 對蒐集的影片資料進行處理，強化道路邊界，使辨識的目標更清楚</dd>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">2. 行駛控制</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">以8層 深度 CNN 網路，對以處理的資料進行預測，判斷當下該給予的控制指令</dd>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">3. Socket連線</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">建立將樹梅派與機器學習Server間的通訊網路</dd>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">4. 網站製作</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">以Django建立專題呈現網站</dd>
                </dl>
            </div>
            <div class="entry-img" style="background-image: url(https://img.joyce8.com/20160807221039_62.jpg);width: 30%; height: 100px;background-position: center;background-size: cover;"></div>
        </a>
    </li>

    <li class="full entry animate-box" style="min-height: FIT-CONTENT;text-align: center;background: none;">
        <hr id="f" style="border-top: 1px solid #7b7b7b;">
    </li>

    <li class="full entry animate-box" style="min-height: fit-content;">
        <a href="single.html">
            <div class="entry-img" style="background-image: url(https://img.joyce8.com/20160807221039_62.jpg);width: 30%; height: 100px;background-position: center;background-size: cover;"></div>
            <div class="entry-desc" style="width: 1200px;">
                <h3 style="font-size: 80px !important;">蔡松峻</h3>
                <dl>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">1. 道路辨識</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">以OpenCV 對蒐集的影片資料進行處理，強化道路邊界，使辨識的目標更清楚</dd>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">2. 行駛控制</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">以8層 深度 CNN 網路，對以處理的資料進行預測，判斷當下該給予的控制指令</dd>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">3. Socket連線</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">建立將樹梅派與機器學習Server間的通訊網路</dd>
                    <dt>
                        <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">4. 網站製作</h5>
                    </dt>
                    <dd style="font-size: 36px;font-weight:bold;">以Django建立專題呈現網站</dd>
                </dl>
            </div>
        </a>
    </li>
</ul>

{% endblock %} {% block script_part %} {% endblock %}