{% extends 'master.html' %} {% load static%} {% block style_part %} {% endblock %} {% block main_content %}
<ul id="gtco-post-list">
    <li class="full entry animate-box" style="min-height: FIT-CONTENT;text-align: center;background: none;">
        <hr id="f" style="border-top: 1px solid #7b7b7b;">
    </li>
    <li class="full entry animate-box" data-animate-effect="fadeIn">
        <div style="text-align: center;">
            <img src="/static/images/myflow.jpg" alt="mainflow" style="width: 90%;">
        </div>
    </li>
    <!-- <li class="one-third entry animate-box" data-animate-effect="fadeIn">
        <a href="single.html">
            <div class="entry-img" style="background-image: url(/static/images/self_drivecar.png)"></div>
            <div class="entry-desc">
                <h3>方向控制</h3>
                <p>車子自動依照路線狀況並決定行徑方向</p>
            </div>
        </a>      
    </li>
    <li class="one-third entry animate-box" data-animate-effect="fadeIn">
        <a href="single.html">
            <div class="entry-img" style="background-image: url(/static/images/self-driving-car_1.jpg)"></div>
            <div class="entry-desc">
                <h3>障礙物停止與閃避</h3>
                <p>車子自動偵測前方障礙物並停止行使或者閃避</p>
            </div>
        </a>        
    </li>
    <li class="one-third entry animate-box" data-animate-effect="fadeIn">
        <a href="single.html">
            <div class="entry-img" style="background-image: url(/static/images/self-driving-car_2.jpg)"></div>
            <div class="entry-desc">
                <h3>交通號誌</h3>
                <p>車子自動偵測前方紅綠燈及路牌並做出正確決策</p>
            </div>
        </a>        
    </li> -->
    <li class="full entry animate-box" style="min-height: FIT-CONTENT;text-align: center;background: none;">
        <hr id="h" style="border-top: 1px solid #7b7b7b;">
    </li>
    <li class="full entry animate-box" data-animate-effect="fadeIn">
        <a href="single.html">
            <div class="entry-img" style="background-image: url(/static/images/lego1.jpg);width: 33%;"></div>
            <div class="entry-desc">
                <h3 style="font-size: 80px !important;">LEGO Car</h3>
                <p style="font-size: 36px; font-weight: bold;">藉由LEGO CAR 透過 MQTT 做資料蒐集</p>
            </div>
        </a>
    </li>

    <li class="full entry animate-box" style="min-height: FIT-CONTENT;text-align: center;background: none;">
        <hr id="h" style="border-top: 1px solid #7b7b7b;">
    </li>
    <li class="full entry animate-box" data-animate-effect="fadeIn">
        <a href="single.html">
            <div class="entry-img" style="background-image: url(/static/images/p1.jpg);width: 500px;"></div>
            <div class="entry-desc">
                <h3 style="font-size: 80px !important;">Raspberry Car</h3>
                <p style="font-size: 36px; font-weight: bold;">藉由RPI 小車控制</p>
            </div>
        </a>
    </li>
    <li class="full entry animate-box" style="min-height: FIT-CONTENT;text-align: center;background: none;">
        <hr id="mf" style="border-top: 1px solid #7b7b7b;">
    </li>
    <li class="full entry animate-box" data-animate-effect="fadeIn">
        <div style="text-align: center;">
            <img src="/static/images/maintec.jpg" alt="maintec" style="width: 900px;">
        </div>
        <!-- <div class="entry-img" style="background-image: url(/static/images/maintec.jpg);width: 500px;"></div> -->
        <!-- <div class="entry-desc">
            <h3>使用技術</h3>
            <p>
                1. Tensorflow/Keras
                <br> 2. OpenCV
                <br> 3. Python
                <br> 4. Raspberry Pi
                <br> 5. Django
            </p>
        </div> -->
    </li>
</ul>

{% endblock %} {% block script_part %} {% endblock %}