{% extends 'master.html' %} {% load static%} {% block style_part %} {% endblock %} {% block main_content %}

<ul id="gtco-post-list-member">
    <li class="full entry animate-box" data-animate-effect="fadeIn" style="min-height: fit-content;">
        <div class="entry-img" style="background-image:url(http://static2.businessinsider.com/image/56c339376e97c629008b7500-2150/screen%20shot%202016-01-26%20at%208.06.53%20am.png);width: 30%; height: 100px;background-position: center;background-size: cover;"></div>
        <div class="entry-desc" style="width: 100%;">
            <h3 style="font-size: 80px !important;">未來展望</h3>
            <dl style="margin-top: 50px;">
                <dt>
                    <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;"><a href="https://www.youtube.com/watch?v=QTxJwJYxZwY">1. 加強功能整合</a></h5>
                </dt>                
                <dt style="margin-top: 40px;">
                    <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">2. 車禍辨識及預測</h5>
                </dt>                
                <dt style="margin-top: 40px;">
                    <h5 style="margin: 10px 0 10px 0; font-size: 40px;font-weight:bold;">3. 分析使用者的錯誤，以達到教育使用者的功能</h5>
                </dt>
            </dl>
        </div>
    </li>


</ul>

{% endblock %} {% block script_part %} {% endblock %}